In [9]:
import pandas as pd 
from slugify import slugify

df = pd.read_csv("_Scores.csv") 
df.columns = [slugify(x) for x in df.columns]

# remove unnecessary long names for clean plotting 
df.columns = [x.replace("np-mean-lr-object-","mu-") for x in df.columns]
df.columns = [x.replace("np-std-lr-object-","std-") for x in df.columns]
df.columns = [x.replace("datapoints-train-sample-mean","trainSize") for x in df.columns]
df.columns = [x.replace("datapoints-test-sample-mean","valSize") for x in df.columns]

df.head()

,model,city,seed,depth,tod,datapoints,trainSize,valSize,mu-scores-mse,std-scores-mse,mu-scores-qwk,std-scores-qwk,num-splits
0,gradientboostingregressor,Bogota,15,1,6,"(81, 16)",54.0,27.0,1.630038,3.727369e-02,0.098534,0.021285,7
1,linearregression,Mumbai,15,1,6,"(49, 16)",32.0,17.0,12.913910,0.000000e+00,-0.069590,0.000000,7
2,linearregression,Singapore,15,1,6,"(212, 16)",142.0,70.0,7.630090,1.776357e-15,0.055986,0.000000,7
3,lasso,Istanbul,15,1,6,"(94, 16)",62.0,32.0,1.441261,0.000000e+00,0.000000,0.000000,7
4,lasso,MexicoCity,15,1,6,"(90, 16)",60.0,30.0,11.947810,1.776357e-15,-0.050468,0.000000,7

In [14]:
import matplotlib.pyplot as plt
df.loc[(df['city'] == "Singapore") & (df['seed'] == 15) & (df['model'] == "linearregression")]

,model,city,seed,depth,tod,datapoints,trainSize,valSize,mu-scores-mse,std-scores-mse,mu-scores-qwk,std-scores-qwk,num-splits
2,linearregression,Singapore,15,1,6,"(212, 16)",142.0,70.0,7.63009,1.776357e-15,0.055986,0.0,7

model                      city
gradientboostingregressor  Bogota         13
                           Capetown       16
                           Istanbul       33
                           London         13
                           MexicoCity     14
                           Mumbai         11
                           NewYorkCity    14
                           Singapore       8
lasso                      Bogota         13
                           Capetown       16
                           Istanbul       34
                           London         13
                           MexicoCity     15
                           Mumbai         11
                           NewYorkCity    14
                           Singapore       8
linearregression           Bogota         13
                           Capetown       16
                           Istanbul       34
                           London         13
                           MexicoCity     15
                           Mumbai         12
                           NewYorkCity    14
                           Singapore       9
randomforestregressor      Bogota         12
                           Capetown       16
                           Istanbul       33
                           London         13
                           MexicoCity     14
                           Mumbai         11
                           NewYorkCity    13
                           Singapore       8
ridge                      Bogota         13
                           Capetown       16
                           Istanbul       34
                           London         13
                           MexicoCity     15
                           Mumbai         12
                           NewYorkCity    14
                           Singapore       9
dtype: int64